* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100dvh;
}

#ImageOfSmtg {
    height: 35vh;
    width: 35vh;
    background-color: aqua;
    border: solid none 2px;
    display: inline-block;
    position: relative;
    top: 175px;
    transform: translateX(50px);
    border-radius: 15%;
    transform-origin: center;
    background-image: url(loginpageimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#LogInPage {
    height: 7vh;
    width: 36vh;
    background-color: aqua;
    border: solid none 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: relative;
    transform: translateX(50px);
    border-radius: 3vw;
    top: 256px;
    background-color: #89399d;
    cursor: pointer;
}

#RegisterPage {
    height: 7vh;
    width: 36vh;
    background-color: white;
    border: solid #89399d 2px;
    position: relative;
    top: 34vh;
    transform: translateX(50px);
    border-radius: 3vw;
    color: #89399d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

#AsGuest {
    position: relative;
    top: 39vh;
    left: 30.5vw;
    font-size: 20px;
    color: dodgerblue;
    cursor: pointer;
}